*{
    margin:0;
    padding:0;
}
.node {
    width: 20px;
    height: 20px;
    outline: 1px solid rgba(39, 132, 143, 0.212);
    /* border:1px solid rgb(12, 53, 71); */
}
@media(max-width: 768px) {
    .node{
        width: 7px;
        height: 7px;
        margin:0;
    }
}
.node-finish {
    background-color: #1e2ffc;
}

.node-start {
    background-color: rgba(248, 44, 73, 0.87);
}

.node-visited {
    animation-name: visitedAnimation;
    outline: 1px solid #33eaff;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0ms;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: #4aedc4;
        border-radius: 100%;
    }

    50% {
        background-color: #1de9b6;

    }

    75% {
        transform: scale(1.2);
        background-color: #00e5ff;

    }

    100% {
        transform: scale(1);
        background-color: #33eaff;
    }
}
.node-wall{
    outline: 1px solid rgb(12, 53, 71);
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function:ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes wallAnimation {
    0% {
      transform: scale(.3);
      background-color: rgb(12, 53, 71);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(12, 53, 71);
    }
  
    100% {
      transform: scale(1.0);
      background-color: rgb(12, 53, 71);
    }
  }
.node-shortest-path {   
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0ms;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    outline:1px solid #ffee33;
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background-color: #ffcd38;
    }

    50% {
        transform: scale(1.2);
        background-color: #ffea00;
    }

    100% {
        transform: scale(1);
        background-color: #ffee33;
    }
}