.Nav{
    background-color: white;
    border:1px solid gray;
    box-shadow: #d5d5d5;
    height: auto;
    margin:0;
}
.Nav ul{
    justify-items: auto;
    display: flex;
    list-style: none;

}
.Nav li{
    margin:5px;
}
.dropdown{
    width: 400px;
}

button{
    background-color: #33eaff;
    border-radius: 5px;
    border:1px solid #33eaff;
    color: #282c34;
    padding:10px;
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
}
button:hover{
    color: #282c34;
    background-color: #33eaff;
    cursor: pointer;
    -webkit-transition: 0.7s;
}
button:disabled{
    cursor: not-allowed;
}

.brand{
    border:1px solid #282c34;
    padding:4px;
    border-radius: 5px;
}
.brand:hover{
    color: white;
    background-color: #282c34;
    cursor: pointer;
    -webkit-transition: 0.7s;
}
@media(max-width: 768px) {
    *{
        margin:0;
        font-size: 30.006px;
    }
}